---
layout: default
---

{% assign member_id = page.author | default: site.author %}
{% assign member = site.data.authors[member_id] | default: member_id %}

<div id="main" role="main">
    {% include sidebar.html %}
    
    <div class="archive">
        <h2>{{member.name}}'s Posts</h2>
        {% assign filtered_posts = site.posts | where: 'author', member_id %}
        {% for post in filtered_posts %}
            {% include archive-single.html type=page.entries_layout %}
        {% endfor %}
    </div>
</div>